
tesseract/wordlist2dawg.exe
tesseract/unicharset_extractor.exe
tesseract/tesseract.exe
tesseract/tessdata/tessconfigs/segdemo
tesseract/tessdata/tessconfigs/nobatch
tesseract/tessdata/tessconfigs/msdemo
tesseract/tessdata/tessconfigs/matdemo
tesseract/tessdata/tessconfigs/batch.nochop
tesseract/tessdata/tessconfigs/batch
tesseract/tessdata/eng.traineddata
tesseract/tessdata/eng.tesseract_cube.nn
tesseract/tessdata/eng.cube.word-freq
tesseract/tessdata/eng.cube.size
tesseract/tessdata/eng.cube.params
tesseract/tessdata/eng.cube.nn
tesseract/tessdata/eng.cube.lm_
tesseract/tessdata/eng.cube.lm
tesseract/tessdata/eng.cube.fold
tesseract/tessdata/eng.cube.bigrams
tesseract/tessdata/configs/unlv
tesseract/tessdata/configs/strokewidth
tesseract/tessdata/configs/rebox
tesseract/tessdata/configs/quiet
tesseract/tessdata/configs/makebox
tesseract/tessdata/configs/logfile
tesseract/tessdata/configs/linebox
tesseract/tessdata/configs/kannada
tesseract/tessdata/configs/inter
tesseract/tessdata/configs/hocr
tesseract/tessdata/configs/digits
tesseract/tessdata/configs/box.train.stderr
tesseract/tessdata/configs/box.train
tesseract/tessdata/configs/bigram
tesseract/tessdata/configs/api_config
tesseract/tessdata/configs/ambigs.train
tesseract/shapeclustering.exe
tesseract/mftraining.exe
tesseract/java/ScrollView.jar
tesseract/doc/ReleaseNotes
tesseract/doc/README
tesseract/doc/phototest.tif
tesseract/doc/eurotext.tif
tesseract/doc/COPYING
tesseract/doc/AUTHORS
tesseract/dawg2wordlist.exe
tesseract/combine_tessdata.exe
tesseract/cntraining.exe
tesseract/classifier_tester.exe
tesseract/ambiguous_words.exe
